body {
    background: url(../img/background.png);
    background-size: 1300px 700px;
    background-repeat: no-repeat;
}

#mainDiv {
    text-align: center;
    align-items: center;
}

#at span{
    font-family: "Verdana";
    color: #432108;
    font-size: 32px;
    padding: 0.25em;
    border:white;
}

#search:focus {
    outline: 0;
}

#at {
    font-family: "Verdana";
    color: #432108;
    font-size: 32px;
    border-radius: 7px;
    border-color: #432108;
    border-style: solid;
    padding: 0.25em;
    background: white;
    width:400px;
    text-align:left;
    margin:auto;
    margin-top: 2em;
}

h1 {
    font-family: "Verdana";
    font-weight: bold;
    font-size: 50px;
    margin-top: 91.25px;
    color: #432108;
}

h2 {
    font-family: "Verdana";
    font-weight: bold;
    color: #432108;
}

button {
    font-size: 30px;
    font-family:"Verdana";
    padding: 0.25em;
    border-radius: 7px;
    background: #432108;
    border-color: white;
    color: white;
    border-style: solid;
    margin-top: 1em;
    cursor: pointer;
    box-shadow: 0 6px #1d959c;
}

.tweet {
    margin-top: 3em;
}

button:hover {
    background: #552a0a;
}

button:active {
    background-color: #552a0a;
    box-shadow: 0 3px #198086;
    transform: translateY(3px);
}

.loader {
    border: 14px solid #432108;
    border-top: 14px solid #ffffff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none;
    margin: auto;
    margin-top: -1em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 0.25em;
    font-family: "Verdana";
    color: #432108;
    font-size: 12px;
}
